html {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

main, nav, section, aside, footer {
    margin: 0;
    padding: 2rem;
    color: #000;
}

main {
    background: #fff;
}


/* Toggle checkbox and drop menu down */
input[type=checkbox] {
  display: none;
}

.ul-dropdown {
  display: none;
}


input[type=checkbox]:checked ~ ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3rem;
  /* need possible fix here or in @media to adjust for dropdown/menu icon alignment issue */
}


/* Style for dropdown menu button and menu list */
nav {
  display: flex;
  justify-content: space-between;
  /* removed padding: 1rem; */
  /* removed margin: 0 auto; */
}

.logo-box {
  padding: 2rem 0;
}

.dropdown {
  padding: 2rem 0;
}

.dropdown-right {
  text-align: right;
}

.menu-btn {
  writing-mode: vertical-rl;
  font-size: 3rem;
  font-weight: bold;
}

.ul-dropdown li {
  padding: .5rem;
  font-size: 2rem;
}

.ul-dropdown-flex li {
  display: flex;
  justify-content: flex-end;
}


/* Style for dropdown menu links */
.ul-dropdown-bg li {
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.20);
  -moz-box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.20);
  box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.20);
}
.a-dropdown {
  text-decoration: none;
  padding: 2px;

  transition: color 0.3s ease;
}

.a-dropdown:link {
  color: #000;
}

a:visited {
  color: #000;
}

.a-dropdown:focus {
  border-top: 2px solid red;
}

.a-dropdown:hover {
  color: #f00;
}

.a-dropdown:active {
  color: #f00;
}


/* content */
.content {
    flex: 1;
    padding: 0;
}

.content-font {
  font-size: 2rem;
  line-height: 2.5rem;
}

.header-name {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}


/* sidebar */
.sidebar {
    flex: 0 1 300px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


/* content and sidebar for tablet */
@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }
}


/* content and sidebar for desktop */
.wrapper {
    margin: auto;
    max-width: 75rem;
}


/* footer */
.footer {
    margin-top: 2rem;
    border-top: 1px solid black;
    background: #fff;
}
